<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">It's easy to get going!</h2>
                <hr class="light">
                <p class="text-faded">Find one or more plebs, meet up, and go for a walk. That's it.</p>
                <a href="#communities" class="btn btn-default btn-xl">Find plebs</a>
            </div>
        </div>
    </div>
</section>
