<section id="more">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get Inspired & Get Going!</h2>
                <hr class="primary">
                <p>Ready to get going? Look for the <a href="https://nostr.band/?q=PlebWalk" target="_blank">#PlebWalk</a> hashtag to join/organize your first walk!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://matrix.to/#/#plebwalks:matrix.dergigi.com" target="_blank">
                <i class="fa fa-weixin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://nostr.band/?q=PlebWalk" target="_blank">
            <i class="fa fa-search fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://twentyone.world/" target="_blank">
            <i class="fa fa-globe fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
