<section id="idea">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why #PlebWalks?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-road wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Easy</h3>
                    <p class="text-muted">Zero hassle. No reservations. Very little planning.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                    <h3>Healthy</h3>
                    <p class="text-muted">Not in the mood for a couple beers at the bar? Go for a walk instead.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tree wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Meatspace</h3>
                    <p class="text-muted">Cyberspace is great, but it's good to get out from time to time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Connection</h3>
                    <p class="text-muted">In-person, family-friendly, out in nature. The perfect environment to build deep connections.</p>
                </div>
            </div>
        </div>
    </div>
</section>
